<style type="text/css" media="screen">
	nav	a.active{
		color: #ffc107 !important;
		font-weight: bold;
	}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid mx-lg-5 px-lg-5">
		<a class="navbar-brand" href="./">
			<img width="80px"  src="./logo.png" alt="Taxi2Airport" class="dark">
		</a>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/about-us.html">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/services.html">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./pricing.html">Pricing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact.html">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">Helpdesk</a>
				</li>
			</ul>
			<div id="google_translate_element">
				<script>
					function googleTranslateElementInit() {
					new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
					}
				</script>
				<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>
			</div>		
		</div>
	</div>
</nav>
