.cardWrapper {
    margin: 0px;
}

.card {
    background: #d7b65d;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding: 20px;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
    transition: all ease-in-out 300ms;
}

.card img {
    width: 100%;
    object-fit: cover;
}


/* .card h2 {
color: #222;
margin-top: -0.2em;
line-height: 1.4;
font-size: 1.3em;
font-weight: 500;
font-family: "Montserrat", sans-serif;
} */

.card h5 {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.05em;
    margin: 0 0 0 0;
    text-transform: uppercase;
    text-shadow: 2px 1px 5px #b5b5b5;
}

.card p {
    color: rgb(30, 30, 30);
    font-weight: 500;
    text-shadow: 2px 1px 5px #b5b5b5;
    margin:  0 auto;
}

.homeDiv {
    display: flex;
}

.cardWrap {
    padding-right: 50px;
    padding-left: 20px;
}

.secondContainer {
    width: 100%;
    flex: 1;
    /*padding-left: 15px;*/
}

.progressWrapper {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.progressDiv {
    flex: 1;
    border: 1px solid #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    font-weight: 600;
}

.progressDivClick {
    flex: 1;
    border: 1px solid #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666666;
    color: white;
    font-weight: 600;
}

.button {
    background-color: #6c757d;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 15px 0px 0px 0px;
    cursor: pointer;
}

.button:hover {
    background-color: #4a4f54;
}
.carDisplay {
    padding: 0;
}

p{
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .homeDiv {
        display: block;
    }
    .secondContainer {
        padding-left: 0px;
    }
    .cardWrap {
        padding-inline: 0px;
    }
}

@media (max-width: 575px) {
    .progressDiv {
        font-size: 12px;
        font-weight: 500;
    }
    .progressDivClick {
        font-size: 12px;
        font-weight: 500;
    }

}