h1 {
    padding-top: 1em;
}

h2 {
    /* padding-top: 1em; */
    font-size: 2.5rem;
    line-height: 50px;
}

.wrapper {
    margin-top: 100px;
}

.blogWrapper {
    padding: 0px 200px 0px 200px;
}

.blogDetailWrapper {
    padding: 0px 200px 100px 200px;
}

.disclosureWrapper {
    padding: 80px 30px 100px 30px;
    text-align: justify;
}
.disclosureWrapper h1{
    font-size: 1.5rem!important;
    text-align: left;
}
.disclosureWrapper h2{
    font-size: 1.5rem;
    text-align: left;
}

.disclosureMain {
    padding: 0px 0px 0px;
}

.disclosureData {
    padding-left: 50px;
    font-size: 18px;
    padding-top: 5px;
}

.button {
    padding: 10px 15px;
    font-size: 20px;
    width: 100%;
    margin-inline: 5px;
}

.termsData {
    padding-left: 30px;
    padding-top: 40px;
}

.serviceDiv {
    background-color: #f8f9fb;
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
}

.serviceImgWrapper {
    display: flex;
    justify-content: space-evenly;
}

.serviceImg {
    width: auto;
}

.accordionFont {
    font-size: 1.2rem;
}

.trackInputContainer {
    height: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.showTrackOrderFoot {
    display: none;
}

.aboutPad {
    margin-inline: 45px;
}

.navbar-light .navbar-toggler {
    margin-right: 35px!important;
}

@media (max-width: 1199px) {
    .blogWrapper {
        padding: 0px 150px 0px 150px;
    }
    .blogDetailWrapper {
        padding: 0px 150px 100px 150px;
    }
    .disclosureWrapper {
        padding: 60px 100px 100px 90px;
    }
    .disclosureMain {
        padding: 0px 0px 0px 60px;
    }
    .accordionFont {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {
    .blogWrapper {
        padding: 0px 0px 80px;
    }
    .blogDetailWrapper {
        padding: 0px 80px 80px 80px;
    }
    .disclosureWrapper {
        padding: 60px 40px 80px 35px;
    }
    .disclosureMain {
        padding: 0px 0px 0px 40px;
    }
    .button {
        font-size: 15px;
        margin-inline: 3px;
    }
    .serviceImg {
        width: 100px;
    }
    .accordionFont {
        font-size: 0.9rem;
    }
    .aboutPad {
        padding: 0px;
        margin: 0px;
    }
    .trackPad {
        padding-block: 10px;
    }
}

@media (max-width: 575px) {
    /* nav {
        margin-right: 35px
    } */
    .blogWrapper {
        padding: 0px 40px 0px 40px;
    }
    .blogDetailWrapper {
        padding: 0px 35px 50px 35px;
    }
    .blogTitle {
        display: none;
    }
    .disclosureWrapper {
        padding: 60px 10px 80px 15px;
    }
    .disclosureMain {
        padding: 0px;
    }
    .disclosureData {
        padding-left: 0px;
        font-size: 16px;
    }
    .button {
        font-size: 12px;
        margin-inline: 4px;
    }
    .termsData {
        padding-left: 0px;
    }
    .serviceImg {
        width: 60px;
    }
    .accordionFont {
        font-size: 0.7rem;
    }
    .showTrackOrderFoot {
        display: block;
    }
    .showTrackOrderNav {
        display: none;
    }
}

.faz{
    padding: 0 4rem;
}


.hometitle {
    font-size: 2.5rem;
}

.homesubtitle {
    font-size: 1.4rem;
    color: #fff;
    font-weight: bolder;
    text-shadow: 0.1em 0.1em 0.25em #000;
}

.titleCenter {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.active img {
    height: 500px;
}

.subtitleCenter {
    color: rgb(43, 35, 35);
    text-shadow: 0px 1px 2px rgb(152, 152, 152);
}

.img1 {
    width: 100%;
    height: 130vh;
    position: relative;
    z-index: -2;
}

.img2 {
    width: 100%;
    z-index: -2;
}

.imggradient {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    background: rgb(0, 0, 0);
    background: linear-gradient( 0deg, rgba(0, 0, 0, 1) 11%, rgba(255, 255, 255, 0) 100%, rgba(9, 9, 121, 1) 100%);
    z-index: -1;
}

.card {
    margin: auto;
    position: absolute;
    top: 30%;
    width: 100%;
}

.paycard {
    width: auto;
    height: 120px;
    padding: 8px;
}

.card_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0;
    padding: 0 10px;
}

.cardbox {
    height: auto;
    max-width: 33%;
    padding: 40px 25px;
    border-radius: 1em;
    background-repeat: no-repeat;
}

.bg1 {
    background: linear-gradient(to bottom, #2c261644, #d8b65d), url("../../images/royal.webp") no-repeat;
    background-size: cover;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.bg2 {
    background: linear-gradient(to bottom, #00000044, #d8b65d), url("../../images/bugati.jpeg") no-repeat;
    background-size: cover;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.carousel_title {
    font-size: 36px;
    color: #ffffff;
    text-shadow: 2px 3px 5px #000000;
}

.img_wrap {
    animation: 50s ease 0s normal none infinite running zoomEffect;
    -webkit-animation: 50s ease 0s normal none infinite running zoomEffect;
    -o-animation: 50s ease 0s normal none infinite running zoomEffect;
}

.gradientx {}

@keyframes zoomEffect {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.3, 1.3);
    }
}


@media (max-width: 768px) {
    .imge {
        height: 50vh !important;
        ;
    }
    .home_wrapper {
        /*height: 50vh;*/
    }
    .mobile_expander {
        padding-top: 1vh;
        background-color: #fff;
    }
    .hometitle {
        font-size: 1.8rem;
    }
    .paycard {
        height: 100px;
        padding: 8px;
    }
    .imggradient {
        height: 78%;
    }
    .img2 {
        height: 600px;
    }
    .cardbox {
        height: auto;
        max-width: 100% !important;
        margin-top: 1em;
        padding: 20px;
        border-radius: 1em;
        margin-bottom: 30px;
        background-repeat: no-repeat;
    }
    .carousel_title {
        font-size: 18px;
        margin-bottom: -5px;
    }
    .carousel-item img {
        height: 40vh !important;
    }
    .homesubtitle {
        font-size: 1.3rem;
    }
}

#oyu {
    top: 50%!important;
}


/* background: rgb(0,0,0); */


/* background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(255,255,255,0) 100%, rgba(9,9,121,1) 100%); */



.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.2s ease-in-out left;
    -moz-transition: 0.2s ease-in-out left;
    -o-transition: 0.2s ease-in-out left;
    transition: 0.2s ease-in-out left;
}
